body{

                font-family: Source code pro, arial narrow, Sans cherif;/*police de caractere*/

                background-color: #FFFF00;/*couleur de fond de page*/
				margin-left: auto; /* pour centrer notre body ou autre bloc - marge "auto" et indiquer un width*/
				margin-right: auto; /* pour centrer notre body ou autre bloc - marge "auto" et indiquer un width*/
				width: 80%; /* pour centrer notre body ou autre bloc - marge "auto" et indiquer un width*/
				
}

 

h1{
                color: #00FF00;

                font-size: 38px;
				line-height: 3px;
}

 

h2{

                color: #0000FF;

                font-size: 28px;

}

 

p{

                color: #811453;
				font-size: 18px;

}

 

ul{

                color: #FF00FF;

}

 

ol{
                color: #614E1A;
}

 

a{

                color:#FD6C9E;
                font-size: 22px;          
}

 

table{
	border-collapse: collapse;/*pour fusionner les bordures de tour de tableau et de cellules*/
}

caption{
	font-size: 30px;
	color: red;
	text-decoration: underline;
	padding-bottom: 10px;
}

tr{
	border: 2px solid red;
}

td{/*cellule du tableau*/

   /* border: 2px solid red;largeur de la bordure, sorte de trait, couleur du trait*/

                background-color: white;/*couleur de fond de la premiere ligne du tableau*/

                width: 600px;/*longueur du tableau*/

                height: 30px;

                font-size: 20px;
				vertical-align: middle;
				text-align: center;
				border: 2px solid red;

}

 #fondgris{
	 background: grey;
 }

thead, /*en tete du tableau*/

tfoot{

                background-color: #800080;

                color: #FEFEFE;

                border: 2px;

                height: 50px;

                font-size: 20px;

}

#nav {
	padding: 0; margin: 0;/* espace entre la marge du haut et le menu*/
	text-align: center; /* centre le texte */
	
}
#nav li {
	display: inline;
	list-style: none; /* nécessaire pour IE7 */
}

#nav a {
	display: inline-block;
	margin: 0 40 3 40px;
	background: Black; /* couleur de fond */
	width: 120px;
	text-decoration: none; /* pas d'héritage avec effet souligné */
	color: yellow; /* couleur du texte */
	height: 30px; /* hauteur */
	line-height: 3 50 3 50px; /* interligne */
	padding: 0 50px; /* marges intérieur */
	font-family: sans-serif; /* police d'écriture */
	font-size: 28px; /* taille du texte */
}

#nav  a:hover:first-child{ 
	background: #FD6C9E; 
}

#header {
  height:300px;
  background-image:url(image_sport.jpg);
  border:30px solid #CCC;
  width:100%;
  /*margin:0px auto;
  position: relative;*/
}
/*
#header h1{
  color:black;
  text-align: center
}
*/
 
footer {
	background: black;	
	width:100%;
	justify-content: center; /* Centrer horizontalement */
	display: flex;
	padding: 20px;
	/*margin:0px auto;
	position: relative;*/
}
 
#p1 {
	font-size: 10px;
	color: white;
}
 

 